<!DOCTYPE html>
<html lang="{{ L('lang_shortcode') }}">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="/styles.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" referrerpolicy="no-referrer" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}{% endblock title %}</title>
	{% block meta %}{% endblock meta %}
</head>
<body class="{% block bodyclass %}{% endblock bodyclass %}">
	{% block body %}{% endblock body %}
</body>
</html>
