<!DOCTYPE html>
<html lang="{{ L('lang_shortcode') }}">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="/styles.css">
	<title>{% block title %}{% endblock title %}</title>
</head>
<body class="{% block bodyclass %}{% endblock bodyclass %}">
	{% block body %}{% endblock body %}
</body>
</html>
